@media (max-width: 480px) {
  #menuBar {
    padding: 0px !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
  #menuBar .row > .col-12 {
    padding: 0px 5px !important;
  }
  .header {
    height: 320px;
  }
  .header-padding {
    padding-top: 70px !important;
    padding-left: calc(5px + 2vw);
    padding-right: calc(5px + 2vw);
  }
  .headerLeftContent {
    margin-top: 0px;
  }
  .bigHeading {
    font-family: "Redressed", cursive;
    color: #fff;
    text-transform: capitalize;
    font-size: calc(30px + 2vw);
  }
}

@media (max-width: 767px) and (min-width: 481px) {
  .navLinks ul li a {
    padding: 14px 6px;
    font-size: 15px;
  }
  #menuBar {
    padding-left: calc(20px + 3vw);
    padding-right: calc(20px + 3vw);
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .navLinks ul li a {
    padding: 14px 6px;
    font-size: 15px;
    letter-spacing: 0.2px;
  }
  #menuBar {
    padding-left: calc(8px + 2vw);
    padding-right: calc(8px + 2vw);
  }
}
